.filter-modal{
    font-size: 13px;
    .nav-link{
        color: color(medium) !important;
        padding: 0;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .form-control{
        width: 75px !important;
        height: 27px;
        font-size: 12px;
        padding: 4px;
    }
}