.uk-slideshow-items{
    position: inherit !important;
    min-height: 100% !important;
    height: auto;
    li {
        img{
            width: 100% !important;
            height: 100% !important;
        }
    }
}
.multi-slider{
    .uk-slidenav-next{
        right: -25px;
    }
    .uk-slidenav-previous{
        left: -25px;
    }
}
.previous-text{
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.next-text{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.product-slide-img{
    width: 100%;
}

.seller-product-slider{
    width: 100%;
}

.product-view__slider{
    overflow: hidden;
}
.personalised-store{
    position: relative;
    &__img{
        width: 100%;
    }
    &__slider{
        position: absolute;
        bottom: 30px;
        padding: 15px;
        width: 100%;
    }
}