<div class="container-fluid mx-0 px-0">
    <div class="row col-12  mx-0 px-2 py-4 shadow-sm bg-body">
        <nav class="">
            <div class="row ">
                <div class="col d-flex justify-content-start">
                   <img src="../../../assets/imaes/RGC logo-01 1.png" alt="">
                </div>
                <div class="col">
                 
                </div>
                <div class="col">
                 
                </div>
            </div>    
        </nav>
    </div>
    <div class="col-12 row mx-0 px-0" style="background-color: rgb(255 255 255 / 70%);">
        <ul class="nav justify-content-center py-3">
            <li class=" header-slot2">
              <a class=" " >Community</a>
            </li>
            <li class="header-slot2">
              <a class="ms-5" href="#">Apps</a>
            </li>
            <li class=" header-slot2">
              <a class="ms-5" href="#">Store</a>
            </li>
            <li class=" header-slot2">
              <a class="ms-5">Page</a>
            </li>
            <li class=" header-slot2">
                <a class="ms-5">Market</a>
            </li>
            <li class=" header-slot2">
                <a class="ms-5">Services</a>
            </li>
        </ul>
    </div>
    <div class="col-12 row mx-0 px-0 py-3 header-slot3" >
        <div class="col align-item-center">
           <span class="ms-5">Back</span>
        </div>
        <div class="col">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                  <span>Home</span>
                </li>
                <li class="nav-item ms-5">
                    <span>Deals</span>
                </li>
                <li class="nav-item ms-5">
                    <span>Coupons</span>
                </li>
                <li class="nav-item ms-5">
                    <span>Stores</span>
                </li>
            </ul>
        </div>
    </div>
</div>

