.home_rounded_card{
    border: 1px rgb(202, 197, 197) solid;
    width:80px;
    height:80px;
    border-radius: 50%;
}

.header-slot3{
    background-color:#1686B0;
    span{
        color: white;
    }
    
   
}

.nav-link {
    span{
        color:  white;
    }
    
}
.nav-link:hover, .nav-link:focus {
    span{
        color: none; 
    }
    
}

.header-slot2{
    a{
        color: black;
    }
    color: black;
}

.main-slot1{
    background-color: rgb(245, 245, 245);
}


.mainslot3-sidebar{
    border: lightgray;
    background-color: white;
}

.mainslot1-card{
    background-color: white;
}   

.card_tittle{
    span{
        font-size: 14px;

    }
    p{
        font-size: 10px;
    }
}

.mainslot_1_sidebar_textheading{
   font-size: 14px;
}


.mainslot2{
    background-color: white;
}

