/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main.scss';
body{
    margin: 0px;
}
.max-width-100{
    max-width: 100% !important;
}
.max-width-100vh{
    max-width: 100vw;
}   

